<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <div class="validation" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <small *ngIf="form.get('email')?.hasError('required')">Email can't be empty </small>
        <small *ngIf="form.get('email')?.hasError('email')">Enter correct email</small>
      </div>
    </div>

    <div class="form-control">
      <label>Password</label>
      <input type="password" placeholder="Password" formControlName="password" />
      <div class="validation" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        <small *ngIf="form.get('password')?.hasError('required')">Password can't be empty </small>
        <small *ngIf="form.get('password')?.hasError('minlength')">
            Can't be shorter than {{form.get('password')?.errors!['minlength'].requiredLength}} chars.
            Now length is {{form.get('password')?.errors!['minlength'].actualLength}} chars.
        </small>
      </div>
    </div>

    <div class="card">
      <h2>Adrerss</h2>

      <div class="form-control">
        <label>Country</label>

        <select>
          <option value="ua">Ukraine</option>
          <option value="us">USA</option>
          <option value="pl">Poland</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" />
      </div>

      <button class="btn" type="button">Choose a capital</button>
    </div>

    <div class="card">
      <h2>Your skills</h2>
      <button class="btn" type="button">Add skill</button>
      <div class="form-control">
        <label></label>
        <input type="text" />
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid">Send</button>
  </form>
</div>
